{{define "login"}}

{{template "head"}}

<section id="login-form">
    <h2>Login Here</h2>
    <div class="login-form">
            <form action="/login" id="requestData" class="form-horizontal" method="POST">
                    <input type="email" class="form-control" name="email" placeholder="Email" style="margin-bottom:20px;margin-top:20px" />
                    <input type="password" class="form-control" name="password" placeholder="Password" style="margin-bottom:20px;margin-top:20px" />
                    <button type="submit" class="btn-warning" style="width: 100%; height: 30px; margin-bottom: 20px;margin-top:10px ">LOGIN</button>
            </form>

            <div class="login-error">{{.}}</div>
        </div>
</section>

{{template "end"}}

{{end}}