{{define "index"}}
    {{template "head"}}

        <div class="bg"></div>

        <div class="container">
            <h2 class="text-center">Skate</h2>
            <p>
                Duis ut leo et leo ultrices vulputate. Quisque rhoncus mi risus, a porta urna venenatis sit amet.
                Duis justo eros, mattis sit amet dictum eu, porta a augue. Integer vulputate aliquet urna, vitae semper mi interdum nec.
                Etiam vehicula, nisi in mollis vestibulum, augue ante malesuada arcu, vitae efficitur nunc quam et nisl.
                Sed laoreet dignissim metus eu luctus. Nam laoreet, quam at tincidunt sodales, nunc risus posuere purus, in congue ipsum
                elit sit amet diam. Quisque porta feugiat felis eu tempor. Curabitur vel mauris aliquet, dictum ante blandit, ultricies odio.
                Curabitur varius, nisl vel facilisis fermentum, leo ante dapibus odio, sit amet sodales velit urna nec neque. Etiam vel nibh leo.
                Nunc id porttitor libero. Aliquam scelerisque, justo eu maximus finibus, turpis dui pharetra dolor, in viverra arcu quam eu augue.
                Fusce pulvinar velit et risus posuere interdum. Praesent blandit metus in est accumsan luctus. Curabitur auctor dolor eu tortor
                vehicula, eu dignissim eros cursus.

                Donec sapien dolor, hendrerit sit amet nulla sit amet, venenatis vulputate lacus.
                Curabitur ut dictum orci. Fusce ex odio, euismod at laoreet a, sodales quis urna. Etiam aliquet tempor sapien non iaculis.
                Integer ut orci feugiat, placerat lorem et, congue urna. Vivamus condimentum elit nunc, ac tempus turpis interdum malesuada.
                Pellentesque eu venenatis tortor, non placerat lacus. Morbi nulla nisi, suscipit at nulla ut, ornare bibendum odio.
                Aenean efficitur dui libero, ut tincidunt neque finibus eu. Donec blandit, turpis vitae feugiat consectetur,
                arcu arcu consectetur tortor, eu tincidunt diam sem quis mauris. Nullam varius maximus finibus. Duis ullamcorper
                lorem nec congue bibendum.

                Fusce mollis quam id ultrices commodo. Praesent finibus quam non felis pulvinar ultricies.
                Donec consectetur libero in purus accumsan, id elementum dolor pulvinar. Quisque ac tortor in
                libero dictum suscipit. Curabitur sagittis nibh vitae commodo rhoncus. Fusce nec tellus pulvinar
                quam tempus facilisis nec at sem. Etiam hendrerit ex vestibulum felis eleifend, sed facilisis purus tristique.
                Suspendisse quis finibus est. In quam tellus, accumsan et venenatis id, facilisis ut turpis.
                Integer condimentum lectus sit amet auctor tristique. Nullam eu orci vel risus porttitor molestie.
                Nam in sem in ex malesuada dignissim. Proin sed est urna. Fusce molestie felis at augue dictum, et ornare augue auctor.
                Praesent sed nulla semper, consequat arcu et, iaculis sem.

                Aenean et risus ut nisl aliquet euismod. Nullam placerat ante vel quam luctus, sit amet
                eleifend velit tincidunt. Maecenas eu magna ex. Integer at libero gravida massa vehicula mollis
                vel eget erat. Nam hendrerit justo mauris, et efficitur leo gravida ut. Vestibulum ullamcorper
                viverra fermentum. Phasellus eget neque tellus. Curabitur mi lectus, feugiat ac leo ac, porttitor
                condimentum purus. Donec finibus nunc ullamcorper diam mattis, suscipit rutrum diam fringilla.
                In ultricies, lacus at commodo sollicitudin, neque mauris commodo massa, et gravida augue urna sed lectus.
                Nulla a ante nibh. Etiam viverra neque purus.
            </p>
        </div>
    {{template "end"}}
{{end}}