{{define "userHome"}}
{{template "head"}}

<div class="container">
    <h2>{{.}}</h2>
    <div id="tasks">
        <ul class="task-list">


        </ul>

    </div>
</div>

<script>
    $( document ).ready(function() {

        getAllTasks();
    });

    function getAllTasks() {
        $.ajax({
            url:"/tasks",
            type:"GET",
            success:function(resp){
                var jsonResp = JSON.parse(resp)
                var tasks = $('.task-list');
                tasks.empty();

                jsonResp.forEach(function(value){
                    var task = $("<li value=" + value.TaskId + ">" + value.TaskName + ":::" + value.TaskDesc +  "</li>")
                    tasks.append(task)
                });
            }
        })
    }
</script>
{{template "end"}}
{{end}}