{{define "userHome"}}
{{template "head"}}

<div class="container user-page">
    <h2>Welcome to the page of tasks {{.}}</h2>
    <hr>
    <div id="tasks">
        <p>Here's a list of tasks which are assigned to random employees for the site</p>
        <hr>
        <ul class="task-list">
        </ul>
    </div>

    <h3>Want to add a new task?</h3>
    <button type="button" class="btn btn-info" id="show-task-form">Add New Task</button><br>
    <div id="task-form"><br>
        <label class="form-group">Task Name</label>
        <input type="text" name="name" id="task-name"  class="form-control" placeholder="Task Name"><br>

        <label class="form-group">Additional Info</label>
        <textarea name="additional" id="task-additional" class="form-control" placeholder="Additional Task Info"></textarea><br>

        <button type="button" id="submit-task" class="btn btn-primary pull-right">Submit</button><br>
        <div class="form-error"></div>
    </div>
</div>
<div class="push-footer"></div>

<script>
    $( document ).ready(function() {
        $("#task-form").hide();
        getAllTasks();
    });

    $('#show-task-form').on('click',function(){
        if ($("#task-form").is(":visible")) {
            $("#task-form").hide();
        }else {
            $("#task-form").show();

        }
    });

    $('#submit-task').on('click',function(){
        addTask();
    });

    function getAllTasks() {
        $.ajax({
            url:"/tasks",
            type:"GET",
            success:function(resp){
                var jsonResp = JSON.parse(resp)
                var tasks = $('.task-list');
                tasks.empty();

                jsonResp.forEach(function(value){
                    var task = $("<li value=" + value.TaskId + ">" + value.TaskName + ":::" + value.TaskDesc +  "</li>")
                    tasks.append(task)
                });
            }
        })
    }

    function addTask(){
        $('.form-error').text("");
        var task_name = $('#task-name').val();
        var task_info = $('#task-additional').val();

        if (task_name === "" || task_info === ""){
            $('.form-error').text("Both name name and additional info are required");
            return false;
        }

        console.log("Task name  " + task_name);

        $.ajax({
            url:"/tasks",
            type:"POST",
            data:{
                task:task_name,
                info:task_info,
            },
            success:function () {
                console.log("Task added");
                //reload tasks
                getAllTasks();
            }
        })
    }
</script>

{{template "end"}}
{{end}}